---
import Navigation from '../components/Header.astro';
import '../styles/style.css';

const pageTitle = "私について";

const identity = {
  firstName: "サラ",
  country: "カナダ",
  occupation: "技術ライター",
  hobbies: ["写真", "バードウォッチング", "野球"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "ドキュメントの執筆"];
const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
			.skill {
				color: var(--skillColor);
				font-weight: bold;
			}
    </style>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consectetur ipsa esse vel laboriosam saepe nulla quis, repellendus, iure sint ex enim sunt voluptates temporibus rem quisquam dignissimos ducimus! Id?</p>

		<p>以下は私に関するいくつかの事実です。</p>

		<h2>identity array</h2>
		<ul>
			<li>私の名前は{identity.firstName}です。</li>
			<li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li>
			{identity.hobbies.length >= 2 &&
				<li>私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</li>
			}
		</ul>

		<h2>私のスキルは以下の通りです。</h2>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}
		{finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}
		{goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}

	</body>
</html>
